.container div{
    background-color: green;
    border: solid 1px grey;


}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fill,5%);
    background-color: aquamarine;
    height: 80vh;
    width: 80vw;
}