.container {
    background-color: green;
    border: solid 1px grey;


}
.container{
    display:grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
    background-color: aquamarine;
    height: 500px;
    width: 500px;
}
body{
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.on{
    background-color:black;
}