.container{
    display:grid;
    grid-template-columns: repeat(100,9px);
    grid-template-rows: repeat(100,9px);
    background-color: aquamarine;
    height: 900px;
    width: 900px;
}
.container div {
    border: solid 0.5px grey;


}

body{
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.on{
    background-color:black;
}
button{
    display: block;
}